
<!-- <div class="primary">
    One way data binding through Property binding - Start
    <br>
  <span [innerText]='title'></span>
  <a [href]="googleLink" target="_blank">Go to Link</a>
  <br>
  One way data binding through Property binding - End
</div>

<div class="second"> One way data binding through interpolation - Start
  <span>{{secondTitle}}</span>
  <br>
  <span>date of birth : {{dob}}</span>
  <br>
  <span>1 + 1 is {{1+1}}</span>
  <br>
  <span>sum is {{addNumbers()}}</span>
  <br>
  <span>
      One way data binding through interpolation - End
  </span>

</div> -->

<!-- <app-two-way-data-binding></app-two-way-data-binding> -->
<!-- <app-directive-demo></app-directive-demo> -->

<!-- <app-data-binding></app-data-binding> -->
  <!-- <app-pipe-demo></app-pipe-demo> -->
  <!-- <app-parent></app-parent> -->

  <!-- <app-vparent></app-vparent> -->
  <!-- <app-output-parent></app-output-parent> -->
  <!-- <app-sparent></app-sparent> -->
   <!-- <app-reactive-demo></app-reactive-demo> -->
   <!-- <app-template-demo></app-template-demo> -->
  <!-- <app-employee-template></app-employee-template> -->
  <!-- <app-employee-reactive></app-employee-reactive> -->
  <!-- <app-emp-react-fm-builder></app-emp-react-fm-builder> -->
  <!-- <app-crud></app-crud> -->
  <!-- <app-notifications></app-notifications> -->
  <!-- <div style="background-color: grey"> -->
    <router-outlet></router-outlet>
  <!-- </div> -->
